.primary-bg
    background: $primary !important

.secondary-bg
    background: $secondary !important

.lightgray-bg 
    background: $lightgray !important

.primary-color
    color: $primary !important

.secondary-color
    color: $secondary
    
.accent-color
    color: $accent 

.text-themeorange
    color $themeorange

.lightgray-color
    color: $lightgray

.lightgreen-color
    color: $lightgreen
    
.container
    padding-left: 150px
    padding-right: 150px
.drawer-item:hover
    background: $primary !important
    color: $secondary !important

.height-100
    min-height: 100vh;

.mt-50
    margin-top: 50px;

.banner-wrapper
    min-height: 500px;
    max-height: 500px;

.banner-heading
    position: absolute;
    top: 0;
    right: 50px;

.banner-heading-big
    margin-bottom: 1rem !important;

.banner-heading-small
    margin-top: 1rem !important;
    text-transform: uppercase;
    letter-spacing: 4px;

.banner-image
    max-height: 500px;

.mb-0
    margin-bottom 0