$primary   = #335AB8
$secondary = #FFFFFF
$accent    = #393F38
$last      = #FFB677
$lightgray  = #F1F2EA
$lightgreen = #D4F7E5
$themeorange = #FFB677

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #FFB677


.text-themeorange
    color $themeorange
